{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
      <div class="row">
        
        <div class="col-md-8">
            
            <div class="container">
                 <div class="reg ">
                    <h3 class="text-primary">Forgot Password</h3>
                </div>
               
                <form method="POST">
                    {% csrf_token %}
                    <label for="email">Enter your email:</label>
                    <input type="email" id="email" name="email">
                    <button type="submit">Reset Password</button>
                </form>
                {% if messages %}
                {% for message in messages %}
                    <span {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
      </div>
    </div>

{% endblock main %}