{% extends 'base.html' %}
{% load static %}

 

 
 
     
    {% block main %}
 
 
<div class="row mt-5">
    <div class="col-md-9">
        {% for x in data %}
        {% if forloop.counter == 1 %}
        <h5 class="bg-danger text-white p-3">Customer details</h5>
        <p><strong>Name:</strong>&nbsp;&nbsp;&nbsp;{{x.customer.username}}</p>
        <!-- <p><strong>Mobile:</strong>&nbsp;&nbsp;&nbsp;9898989898</p> -->
        <p><strong>Email:</strong>&nbsp;&nbsp;&nbsp;{{x.customer.email}}</p>
        {% endif %}
        {% endfor %}
        {% for x in data %}
        <div class="row mt-3">
            <div class="col-md-4">
                <img src="{{x.pet.image.url}}" width="100%" height="200px" alt="" />
            </div>
            <div class="col-md-8">
                <p><strong>Pet Name:</strong>&nbsp;&nbsp;&nbsp;{{x.pet.petname}}</p>
                <p><strong>Pet Price:</strong>&nbsp;&nbsp;&nbsp;RS.{{x.pet.price}}</p>
       
                <p><strong>Product Detail:</strong>&nbsp;&nbsp;&nbsp;{{x.pet.description}}</p>

              <!---  <a href="/remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>-->
            </div>
        </div>
        {% endfor %}
    </div>
    <!----customer and product details-->
    <div class="col-md-3">
        <h5 class="bg-danger text-white p-3">Total Amount</h5>
        <p><strong>Total({{n}} items):</strong>Rs.{{total}}</p>
        <hr>
        <p><strong>Total Amount:</strong>Rs.{{total}}</p>
        <a href="{% url "checkout" %}"><button class="btn btn-danger">Make payment</button></a>
    </div>
    <!--Total amount section-->
</div>
{% endblock main %}